<form role="form" name="projectForm" ng-controller="newProjectsCtrl as project" ng-submit="createProject()" novalidate>
  <div class="form-content">
    <div class="form-group" ng-class="errorClass('name')">
      <input type="text" ng-model="project.name" class="form-control input-underline input-lg" name="name" placeholder="Name" capitalize-first>
      <span class="help-block pull-left" ng-show="errorField('name')"/>{{errorMessage('name')}}</span>
    </div>
    <div class="form-group" ng-class="errorClass('description')">
      <input type="text" ng-model="project.description" class="form-control input-underline input-lg" name="description" placeholder="Description"/>
      <span class="help-block pull-left" ng-show="errorField('description')">{{errorMessage('description')}}</span>
    </div>
  </div>
  <input type="submit" class="btn btn-sm btn-primary" value="Save"/>
  &nbsp;
  <a href="#" class="btn btn-sm btn-danger" ng-click="cancelForm()">Cancel</a>
</form>
